/* Universal font and size*/
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none
}

/*Nav bar*/
.logo {
    backface-visibility: hidden;
}

.logo img {
    width: 4rem;
    height: auto;
    border-radius: 48%;
}

.logo a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

nav {
    background-color: #201CF1;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}

.nav-link {
    padding: 0 0.5em;
}

.nav-link:hover {
    color: #FF3823;
}

.nav-item li {
    display: flex;
    flex-wrap: nowrap;
    width: 8rem;
}

.nav-item a {
    color: #fff;

    padding-right: 1rem
}

nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #fff;
}

.lowernav {
    background-color: #1820df;
}


/*FOOTER */
.disclaimer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #201CF1;
}

.disclaimer>h6 {
    font-size: xx-small;
    display: flex;
    width: 50%;
    margin: 1rem;
    color: #fff;
}

.team3 {
    background-color: #201CF1;
    color: #fff;
    padding-bottom: 1rem;
}

.team3 h5,.team3 p {
    font-size: small;
    display: flex;
    justify-content: center;
    line-height: 0.5rem;
}

/*End of Footer */
.landing {
    display: flex;
    background-color: #1820df;
    color: #fff;
    border-top: #fff 5px solid;
}

*.landingimgcontainer{
    display: flex;
    justify-content: flex-end;
}

.landingimg {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 90%;
}

.btn-primary{
    background-color: #ea2f5d;
}

.btn-outline-danger{
    --bs-btn-color:#ea2f5d;
}

li{
    list-style: none;
}

.text-block{
    color: #ea2f5d;
}
/* responsive web TODO */
@media only screen and (min-width: 576px) {
    .text-block{
    text-align: center;
   }

}
